/**
 * Primary styles (Based on Solarize by Ethan Schoonover)
 */
html *,
html.light * {
  color: #657b83;
}
html body,
html.light body {
  background-color: #fdf6e3;
}
html h1,
html.light h1,
html h2,
html.light h2,
html h3,
html.light h3,
html h4,
html.light h4,
html h5,
html.light h5,
html h6,
html.light h6 {
  color: #586e75;
  border-color: #657b83;
}
html a,
html.light a,
html a:active,
html.light a:active {
  color: #268bd2;
}
html a:visited,
html.light a:visited {
  color: #6c71c4;
}
html a:hover,
html.light a:hover {
  background-color: #eee8d5;
}
html header,
html.light header,
html footer,
html.light footer {
  background-color: #eee8d5;
  color: #93a1a1;
}
html pre,
html.light pre {
  color: #586e75;
  background-color: #eee8d5;
}
html.dark * {
  color: #839496;
}
html.dark body {
  background-color: #002b36;
}
html.dark h1,
html.dark h2,
html.dark h3,
html.dark h4,
html.dark h5,
html.dark h6 {
  color: #93a1a1;
  border-color: #839496;
}
html.dark a,
html.dark a:active {
  color: #268bd2;
}
html.dark a:visited {
  color: #6c71c4;
}
html.dark a:hover {
  background-color: #073642;
}
html.dark header,
html.dark footer {
  background-color: #073642;
  color: #586e75;
}
html.dark pre {
  color: #93a1a1;
  background-color: #073642;
}
.yellow {
  color: #b58900;
}
.orange {
  color: #cb4b16;
}
.red {
  color: #dc322f;
}
.magenta {
  color: #d33682;
}
.violet {
  color: #6c71c4;
}
.blue {
  color: #268bd2;
}
.cyan {
  color: #2aa198;
}
.green {
  color: #859900;
}
* {
  margin: 0px;
}
body {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
header {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 1.4em;
  bottom: auto;
}
footer {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 1.4em;
  top: auto;
}
div.main {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 1.4em;
  bottom: 1.4em;
  text-align: center;
}
div.main img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: inline;
}
header div,
footer div {
  position: absolute;
}
header :nth-child(1),
footer :nth-child(1) {
  left: 0px;
  width: 8em;
}
header :nth-child(2),
footer :nth-child(2) {
  left: 8em;
  right: 8em;
  text-align: center;
}
header :nth-child(3),
footer :nth-child(3) {
  right: 0px;
  width: 8em;
  text-align: right;
}
